@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Hanalei+Fill:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Ruslan+Display:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Lobster:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Pacifico:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Gloria+Hallelujah:wght@400;700&display=swap');
@import url('https://fonts.font.im/css?family=Permanent+Marker:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .noScrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .noScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.colorInput {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.colorInput::-webkit-color-swatch-wrapper {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  border: none;
  border-radius: 4px;
}

.colorInput::-webkit-color-swatch {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  border: none;
  border-radius: 4px;
}

body {
  overflow: hidden;
}

.btn:not(.btn-active):hover {
  color: #ffffff80;
  background-color: hsl(var(--n, var(--n)) / var(--tw-bg-opacity));
  border-color: hsl(var(--n, var(--n)) / var(--tw-border-opacity));
}

.tab:not(.tab-active):hover {
  color: #ffffff80;
}

.radial-progress:hover::after {
  opacity: 0.5;
}

.radial-progress:hover::before {
  opacity: 0.5;
}

.favorite-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.favorite-icon:hover {
  transform: scale(1.2);
  color: hsl(var(--wa));
}

.btn-ghost:hover .favorite-icon {
  transform: none;
}

.btn.no-hover-effect:not(.btn-active):hover {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
}

/* 渐变预设按钮样式 */
.gradient-rainbow {
  background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff);
}

.gradient-sunset {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.gradient-ocean {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.gradient-fire {
  background: linear-gradient(to right, #f12711, #f5af19);
}
